<%- include('../partials/errors') %>

<span id="breadcrumb">
  <a href="/">
    <svg
      width="18"
      height="18"
      viewBox="0 0 128 128"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use href="/assets/icons.svg#icon-house" />
    </svg>
    My disk
  </a>
  <% if (parents && parents.length) { %>
    <% parents.forEach(parent => { %>
      <span>/</span><a href="/folders/<%= parent.id %>"><%= parent.name %></a>
    <% }) %>
  <% } %>
</span>

<div id="table">
  <div id="table-header">
    <span>N°</span>
    <span>Name</span>
    <span></span>
    <span>Last Updated</span>
  </div>
  <% if (user.entries.length) { %>
    <% user.entries.forEach((entry, i) => { %>
      <div
        class="entry"
        data-entry-id="<%= entry.id %>"
        data-entry-type="<%= entry.file ? 'file' : 'folder' %>"
        <% if (entry.file) { %>
          ondblclick="window.location.href = '/files/<%= entry.id %>'"
        <% } else { %>
          ondblclick="window.location.href = '/folders/<%= entry.id %>'"
        <% } %>
      >
        <span>
          <svg
            width="18"
            height="18"
            viewBox="0 0 128 128"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="/assets/icons.svg#icon-<%= entry.file ? 'file' : 'folder' %>" />
              
          </svg>
        </span>
        <span><%= entry.name %></span>
        <span><button>⋮</button></span>
        <span><%= format(entry.updatedAt, 'MMMM do, yyyy') %></span>
      </div>
    <% }) %>
  <% } else { %>
    <span class="no entries">
      Empty folder. Upload files or create folders to get started.
    </span>
  <% } %>
  </div>

<div id="menu">
  <button id="edit">Rename</button>
  <form id="delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a>Download</a>
</div>

<dialog>
  <div class="dialog-content">
    <div class="dialog-header">
      <p>Create Folder</p>
      <button class="close-dialog">
        <svg
          width="18"
          height="18"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="/assets/icons.svg#icon-close" />
        </svg>
      </button>
    </div>
    <form action="/folders/create" method="POST" id="create-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" required>
      </div>
      <div class="dialog-actions">
        <button type="submit">Create</button>
        <button type="button" class="close-dialog">Cancel</button>
      </div>
    </form>
  </div>
</dialog>



<div id="actions">
  <div class="actions-menu">
    <form action="/files/upload" enctype="multipart/form-data" method="POST" class="file-form">
      <input type="file" name="files" id="file-upload" multiple required>
      <label for="file-upload">
        <svg
          width="18"
          height="18"
          viewBox="0 0 128 128"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="/assets/icons.svg#icon-upload" />
        </svg>
        Upload
      </label>
    </form>
    <button class="show-dialog">
      <svg
        width="18"
        height="18"
        viewBox="0 0 128 128"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="/assets/icons.svg#icon-folder" />
      </svg>
      Folder
    </button>
  </div>
  <button>
    <svg
      width="18"
      height="18"
      viewBox="0 0 128 128"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use href="/assets/icons.svg#icon-plus" />
    </svg>
  </button>
</div>