<dialog id="add-<%= plural %>-dialog">
  <form action="/<%= plural %>/add" method="POST">
    <input type="hidden" name="redirect" id="redirect-<%= plural %>">
    <div class="form-group">
      <label for="new-<%= singular %>-title">New <%= singular.charAt(0).toUpperCase() + singular.slice(1) %> <%= value %>:</label>
      <input type="text" id="value" name="<%= value %>" required>
    </div>
    <div class="dialog-buttons">
      <button type="submit">Add <%= singular.charAt(0).toUpperCase() + singular.slice(1) %></button>
      <button type="button" onclick="document.getElementById('add-<%= plural %>-dialog').close()">Cancel</button>
    </div>
  </form>
</dialog>