<div style="position: relative;">
  <div style="display: flex; flex-direction: row; gap: 4px;">
    <input type="text" id="<%= inputId %>" data-<%= dataAttr %>="">
    <button type="button">+</button>
  </div>

  <div
    class="<%= containerClass || (inputId + '-buttons') %>"
    style="position: absolute; display: none;"
  >
    <% list.forEach(item => { %>
      <button type="button" data-<%= dataAttr %>="<%= item[valueProp] %>"><%= item[displayProp] %></button>
    <% }); %>
  </div>
</div>