<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= manga.title %></p>
  <p><%= manga.description %></p>
  <p>Status: <%= manga.status %></p>
  <p>Start Date: <%= format(new Date(manga.startdate), 'PPP') %></p>
  <% if (manga.enddate) { %>
    <p>End Date: <%= format(new Date(manga.enddate), 'PPP') %></p>
  <% } %>
  <p><b>Staff</b></p>
  <ul>
    <% manga.staff.forEach(person => { %>
      <li>
        <p><%= person.fullname %> - <%= person.role %></p>
        <a href="/staff/<%= person.id %>/detail">Details</a>
      </li>
    <% }) %>
  </ul>
  <a href="/">Back to list</a>
</body>
</html>