<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <a href="/staff">Staff List</a>
  <a href="/add">Add Manga</a>
  <ul>
    <% manga.forEach(item => { %>
      <li>
        <p><%= item.title %></p>
        <p><%= item.status %></p>
        <p><%= format(new Date(item.startdate), 'PPP') %></p>
        <% if (item.enddate) { %>
          <p><%= format(new Date(item.enddate), 'PPP') %></p> 
        <% } %>
        <div>
          <a href="<%= item.id %>/detail">Details</a>
        </div>
      </li>
    <% }); %>
  </ul>
</body>
</html>