<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/scripts/addManga.js" defer></script>
  <title><%= title %></title>
  <style>
    form {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  </style>
</head>
<body>

  <%- include('partials/header') %>

  <main>

    <h1><%= title %></h1>

    <%- include('partials/errors.ejs') %>

    <form action="/<%= manga.id %>/update" method="POST">

      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= manga.title %>" required>

      <label for="description">Description</label>
      <textarea name="description" id="description"><%= manga.description %></textarea>
      
      <select name="status" id="status" required>
        <% statuses.forEach(status => { %>
          <option <%= status === manga.status ? 'selected' : '' %>><%= status %></option>
        <% }) %>
      </select>
      
      <label for="startdate">Start Date</label>
      <input type="date" id="startdate" name="startdate" value="<%= manga.startdate %>" required>
      
      <label for="enddate">End Date</label>
      <input type="date" id="enddate" name="enddate" value="<%= manga.enddate %>">

      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 16px;
        "
      >
        <%- include('partials/filterDropdown', {
              inputId: 'staff',
              dataAttr: 'memberid',
              list: staff,
              displayProp: 'fullname',
              valueProp: 'id',
              containerClass: 'staff-buttons',
              placeholder: 'staff member'
        }) %>

        <%- include('partials/filterDropdown', {
              inputId: 'roles',
              dataAttr: 'roleid',
              list: roles,
              displayProp: 'title',
              valueProp: 'id',
              containerClass: 'roles-buttons',
              placeholder: 'role'
        }) %>

        <button class="add-staff-role" type="button">Add</button>
      </div>
      <ul class="assigned-staff-roles">
        <% manga.staff.forEach(member => { %>
          <li data-memberid="<%= member.id %>" data-roleid="<%= member.roleid %>">
            <%= member.fullname %> - <%= member.role %>
            <button type="button">X</button>
          </li>
        <% }); %>
      </ul>
      <input type="hidden" name="staff" value="">
      
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 16px;
        "
      >
        <%- include('partials/filterDropdown', {
              inputId: 'genres',
              dataAttr: 'genreid',
              list: genres,
              displayProp: 'title',
              valueProp: 'id',
              containerClass: 'genres-buttons',
              placeholder: 'genre'
        }) %>

        <button class="add-genre" type="button">Add</button>
      </div>
      <ul class="assigned-genres">
        <% manga.genres.forEach(genre => { %>
          <li data-genreid="<%= genre.id %>">
            <%= genre.title %>
            <button type="button">X</button>
          </li>
        <% }); %>
      </ul>
      <input type="hidden" name="genres" value="">

      

      <button type="submit">Update Manga</button>
    </form>

    <%- include('partials/dialogForm', {
      singular: 'staff',
      plural: 'staff',
      value: 'fullname', 
    }) %>

    <%- include('partials/dialogForm', {
      singular: 'role',
      plural: 'roles',
      value: 'title', 
    }) %>

    <%- include('partials/dialogForm', {
      singular: 'genre',
      plural: 'genres',
      value: 'title', 
    }) %>

    <a href="/">Back to Home</a>
  </main>

</body>
</html>