<% let folderId %>

<h1><%= title %></h1>

<p> <%= user.email %> </p>

<button id="showDialog">Create folder</button>

<table>

  <tr>
    <th>N°</th>
    <th>Name</th>
    <th>Last Updated</th>
    <th>Created At</th>
  </tr>
  <% if (user.folders.length) { %>
    <% user.folders.forEach((folder, i) => { %>
      <tr class="entry" data-folder-id="<%= folder.id %>">
        <td><%= i+1 %></td>
        <td><%= folder.name %></td>
        <td><%= folder.updatedAt %></td>
        <td><%= folder.createdAt %></td>
      </tr>
    <% }) %>
  <% } else { %>
    <tr>
      <td colspan="4">No entries</td>
    </tr>
  <% } %>
</table>

<div id="menu">
  <button id="edit">Rename</button>
  <form id="delete" method="POST">
    <button type="submit">Delete</button>
  </form>
</div>

<dialog>
  <div>
    <%- include('../partials/errors.ejs') %>
    <div>
      <p>Create Folder</p>
      <button class="closeDialog">X</button>
    </div>
    <form action="/folders/create" method="POST" id="createForm">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" required>
      </div>
      <div>
        <button type="submit">Create</button>
        <button type="button" class="closeDialog">Cancel</button>
      </div>
    </form>
  </div>
</dialog>

<a href="/logout">Logout</a>