<%- include('../partials/errors.ejs') %>

<% let folderId %>

<h1><%= title %></h1>

<p> <%= user.email %> </p>

<% if ( user.folders && user.folders.length) { %>
  <table>
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th>Last Updated</th>
      <th>Created At</th>
    </tr>
    <% user.folders.forEach((folder, i) => { %>
      <tr class="entry" data-folder-id="<%= folder.id %>">
        <td><%= i+1 %></td>
        <td><%= folder.name %></td>
        <td><%= folder.updatedAt %></td>
        <td><%= folder.createdAt %></td>
      </tr>
    <% }) %>
  </table>
<% } %>

<div
  id="menu"
>
  <button id="edit">Edit Name</button>
  <form id="delete" method="POST">
    <button type="submit">Delete</button>
  </form>
</div>

<a href="/logout">Logout</a>