<%- include('../partials/errors.ejs') %>

<% let folderId %>

<h1><%= title %></h1>

<p> <%= user.email %> </p>

<% if ( user.folders && user.folders.length) { %>
  <table
    style="
      border-spacing: 0 16px;
    "
  >
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th>Last Updated</th>
      <th>Created At</th>
    </tr>
    <% user.folders.forEach((folder, i) => { %>
      <tr class="entry" data-folder-id="<%= folder.id %>">
        <td style="border: 2px solid black;"><%= i+1 %></td>
        <td style="border: 2px solid black;"><%= folder.name %></td>
        <td style="border: 2px solid black;"><%= folder.updatedAt %></td>
        <td style="border: 2px solid black;"><%= folder.createdAt %></td>
      </tr>
    <% }) %>
  </table>
<% } %>

<div
  id="menu"
  style="
    position: fixed;
    display: none;
    transform: translate(-10px, -10px);
  "
>
  <button id="edit">Edit Name</button>
  <form id="delete" method="POST">
    <button type="submit">Delete</button>
  </form>
</div>

<a href="/logout">Logout</a>

<script>

  const menu = document.querySelector("#menu");
  const menuDelete = menu.querySelector("#delete");
  const menuEdit = document.querySelector("#edit");

  let timer = null;

  const placeCaretAtEnd = (el) => {
    const range = document.createRange();
    const selection = window.getSelection();

    range.selectNodeContents(el);
    range.collapse(false);

    selection.removeAllRanges();
    selection.addRange(range);
  };

  const startRename = ({ nameCell, currentEntryId }) => {
    if (nameCell.isContentEditable) return;

    const originalName = nameCell.textContent;

    const restablish = () => {
      nameCell.textContent = originalName;
      nameCell.contentEditable = "false";
      return;
    };

    nameCell.contentEditable = "true";
    nameCell.focus();
    placeCaretAtEnd(nameCell);

    const handleKeyDown = e => {
      switch (e.key) {
        case "Enter":
          e.preventDefault();
          nameCell.blur();
          removeEventListener("keydown", handleKeyDown);
          break;
      
        case "Escape":
          restablish();
          break;
      }
    };
    document.addEventListener("keydown", handleKeyDown);

    nameCell.addEventListener("blur", async nameCellEvent => {
      try {
        const newName = nameCell.textContent.trim();

        if (!newName || newName === originalName) restablish();

        const response = await fetch(`/folders/${currentEntryId}/update`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            newName: nameCell.textContent.trim(),
          })
        });

        console.log(await response.json()); // Debug
      } catch (error) {
        console.error(error);
      } finally {
        nameCell.contentEditable = "false";
      }
    }, { once: true });
  };

  menuEdit.addEventListener("click", e => {
    const currentEntryId = menu.dataset.currentEntryId;
    const entryObj = {
      nameCell: document.querySelector(`.entry[data-folder-id="${currentEntryId}"]>td:nth-child(2)`),
      currentEntryId,
    };

    startRename(entryObj);
  });

  document.querySelectorAll(".entry").forEach(entry => {
    const folderId = entry.dataset.folderId;
    const nameCell = entry.querySelector("td:nth-child(2)");

    entry.addEventListener("contextmenu", e => {
      e.preventDefault();

      menu.dataset.currentEntryId = folderId;
      menuDelete.action = `/folders/${folderId}/delete`;

      const menuRect = menu.getBoundingClientRect();
      let { clientX: x, clientY: y } = e;

      if (x + menuRect.width > window.innerWidth) {
        x = window.innerWidth - menuRect.width;
      }

      if (y + menuRect.height > window.innerHeight) {
        y = window.innerHeight - menuRect.height;
      }

      menu.style.left = `${x}px`;
      menu.style.top = `${y}px`;
      menu.style.display = "block";
    });

    entry.addEventListener("dblclick", () => {
      clearTimeout(timer);
    });

    nameCell.addEventListener("click", e => {
      e.stopPropagation();
      timer = setTimeout(() => {
        const entryObj = {
          nameCell,
          currentEntryId: folderId,
        };
        startRename(entryObj);
      }, 800);
    });
  });

  document.addEventListener("click", e => {
    menu.style.display = "none";
    clearTimeout(timer);
  });

  document.addEventListener("contextmenu", e => {
    clearTimeout(timer);
  });

  document.addEventListener("keydown", e => {
    if (e.key === "Escape") menu.style.display = "none";
    clearTimeout(timer);
  });

  let startX, startY;

  document.addEventListener("mousedown", e => {
    startX = e.clientX;
    startY = e.clientY;
  });

  document.addEventListener("mousemove", e => {
    if (
      Math.abs(e.clientX - startX > 4) ||
      Math.abs(e.clientY - startY > 4)
    ) {
      clearTimeout(timer);
    }
  });

</script>