<%- include('../partials/errors', { errors }) %>

<form action="/login" method="POST">
  <div>
    <label for="login-username">Username:</label>
    <input
      type="text"
      id="login-username"
      name="username"
      value="<%= typeof data !== 'undefined' ? data.login_username : '' %>"
      required
    >
  </div>
  <div>
    <label for="login-password">Password:</label>
    <input
      type="password"
      id="login-password"
      name="password"
      required
    >
  </div>
  <button type="submit">Login</button>
</form>

<form action="/sign-up" method="POST">
  <div>
    <label for="signup-first_name">First Name:</label>
    <input
      type="text"
      id="signup-first_name"
      name="first_name"
      value="<%= typeof data !== 'undefined' ? data.first_name : '' %>"
      required
    >
  </div>
  <div>
    <label for="signup-last_name">Last Name:</label>
    <input
      type="text"
      id="signup-last_name"
      name="last_name"
      value="<%= typeof data !== 'undefined' ? data.last_name : '' %>"
      required
    >
  </div>
  <div>
    <label for="signup-username">Username:</label>
    <input
      type="text"
      id="signup-username"
      name="username"
      value="<%= typeof data !== 'undefined' ? data.signup_username : '' %>"
      required
    >
  </div>
  <div>
    <label for="signup-password">Password:</label>
    <input
      type="password"
      id="signup-password"
      name="password"
      required
    >
  </div>
  <div>
    <label for="signup-confirm_password">Confirm Password:</label>
    <input
      type="password"
      id="signup-confirm_password"
      name="confirm_password"
      required
    >
  </div>
  <button type="submit">Sign Up</button>
</form>

<a href="/">Back to Home</a>