<%- include('../partials/header', { user }) %>
<%- include('../partials/errors', { errors }) %>
<p>Views: <%= views %></p>
<p>User: <%= user ? `${user.first_name} ${user.last_name}` : 'Guest' %></p>

<main>
  <h2>Messages</h2>
  <% if (msgs.length === 0) { %>
    <p>No messages yet.</p>
  <% } else { %>
    <ul>
      <% msgs.forEach((msg) => { %>
        <li>
          <% if (user && user.is_admin) { %>
            <form action="/messages/<%= msg.id %>/delete" method="POST">
              <button type="submit">X</button>
            </form>
          <% } %>
          <strong><%= msg.title %></strong>
          <p><%= msg.message %></p>
          <p>From <em><%= typeof msg.author_fullname !== 'undefined' ? msg.author_fullname : 'Anonymous' %></em></p>
          <p>Posted on <em><%= msg.created_at.toLocaleString() %></em></p>
        </li>
      <% }); %>
    </ul>
  <% } %>
</main>

<% if (user) { %>
  <a href="/new-message">New Message</a>
<% } %>