<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <h1><%= title %></h1>
    <%- include('../partials/errors.ejs') %>
    <form action="/staff/<%= staff.id %>/update/" method="POST">
      
      <label for="fullname">Full Name:</label>
      <input type="text" id="fullname" name="fullname" value="<%= staff.fullname %>" required>

      <label for="birth">Birth Date:</label>
      <input type="date" id="birth" name="birth" value="<%= staff.birth %>">

      <label for="gender">Gender</label>
      <select id="gender" name="gender">
        <option value="" selected>-----</option>
        <% genders.forEach(gender => { %>
          <option value="<%= gender %>" <%= staff.gender === gender ? 'selected' : '' %>><%= gender %></option>
        <% }); %>
      </select>

      <button type="submit">Update</button>
    </form>
    <a href="/staff">Back to Staff List</a>
  </main>
</body>
</html>